<!-- =============================================================================
	File listing blank page for users
	___________________________________________

	This file needs to be here for users to browse files in the component.
========================================================================== -->
<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1">

		<title><%= name %> Files</title>
		<meta name = "description" content = "Files for the <%= name %> component">

		<!-- Mobile viewport optimized: h5bp.com/viewport -->
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
	</head>
<body>
</body>
</html>